﻿@using Microsoft.AspNetCore.Http
@model EMall.net.Models.Shopping
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center"><h3>My cart</h3></div><hr />
@{ if (Context.Session.GetString("UserName") != null)
    {
        @if (Model.allCartItems.Count() != 0)
        {
            <div class="row" style="display:inline">
                <input type="checkbox" name="chkSelectAll" /><a> Select all</a><br>
            </div>
            @foreach (var cartPair in Model.allCartItems)
            {

                //cartPair.Key
                //cartPair.Value[0].SellerName;


                <div class="row" style="display:inline"><input type="checkbox" name="chkSeller@(cartPair.Key)" onclick="toggleCheckSeller(event,@cartPair.Key)" checked> Seller: @cartPair.Value[0].SellerName</div>
                <hr>
                <div class="row">
                    <table class="table-cart table-striped col-12 mb-5" id="tableSeller@(cartPair.Key)">
                        <tr>
                            <th>Product</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>

                        @foreach (var ci in cartPair.Value)
                        {
                            <tr id="itemrow@(ci.CartItem.ID)">
                                <td style="width:25%">
                                    @if (ci.CartItem.Status == 1)
                                    {
                                        <input type="checkbox" name="chkCartItem@(ci.CartItem.ID)" onclick="toggleCheck(event,@ci.CartItem.ID);" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="chkCartItem@(ci.CartItem.ID)" onclick="toggleCheck(event,@ci.CartItem.ID);" />
                                    }
                                    <a href="/product/@(ci.CartItem.ProductID)" target="_blank" style="display:inline">
                                        <span class="productimg">
                                            <img width="50" height="50" title="@(ci.ProductName)" alt="@(ci.ProductName)" src=@Url.Content(ci.PictureUrl) style="display: inline;">
                                        </span>@ci.ProductName
                                    </a>
                                </td>
                                <td style="width:25%">$ @ci.UnitPrice</td>
                                <td style="width:25%">
                                    <button onclick="decrement(@ci.CartItem.ID)">-</button>
                                    <input class="cartQuantity" cartId="@(ci.CartItem.ID)" type="number" name="quantity@(ci.CartItem.ID)"
                                           value="@(Convert.ToInt32(ci.CartItem.Quantity))" style="width:50px;">
                                    <button onclick="increment(@(ci.CartItem.ID))">+</button>
                                    <a href="" class="updateLink" id="update@(ci.CartItem.ID)"
                                       onclick="update(event,@(ci.CartItem.ID))">update</a>
                                </td>
                                <td id="subtotal@(ci.CartItem.ID)" style="width:25%">$ @(Decimal.Round(ci.UnitPrice * ci.CartItem.Quantity,2))</td>
                            </tr>
                        } <!--end foreach var ci in cartPair.Value-->

                    </table>
                </div>
            }<!--end foreach var cartPair in Model.allCartItems-->
            <hr />
            <div class="text-center"><a href="/Shopping/OrderConfirm" class="btn btn-primary">Place order</a></div>
        }
        else
        {
            <div class="text-center"><h5>Your cart is empty.</h5></div>
            <div class="text-center">
                <a href="/Home/Index" >Click here to shopping</a>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h5>Login to view items you placed to cart.</h5><br />
            <a href="/User/BuyerLogin" class="btn btn-success">Sign in</a>
        </div>
    }
}

<!--div class="text-center"><a href="/Shopping/OrderConfirm" style="background-color:rgb(121, 121, 241); height:36px;border-radius:2px;padding:5px;color:white">Place order</a></div-->


@section Scripts{
    <script src="~/js/Cart.js"></script>
}