﻿@model EMall.net.Models.OrderConfirm
@using Microsoft.AspNetCore.Http
<div class="row">
    <div class="col-lg-6 border" style="padding:30px">
        <h3>Confirm product information:</h3>
        <hr />
        @{ foreach (var cartPair in Model.allCartItems)
            {

                //cartPair.Key
                //cartPair.Value[0].SellerName;


                <div>Seller: @cartPair.Value[0].SellerName</div>
                <hr>
                <div class="row">
                    <table class="table-cart table-striped col-12 mb-5" id="tableSeller@(cartPair.Key)">
                        <tr>
                            <th>Product</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                        @foreach (var ci in cartPair.Value)
                        {
                            <tr id="itemrow@(ci.CartItem.ID)">
                                <td style="width:25%">
                                    <a href="/product/@(ci.CartItem.ProductID)" target="_blank" style="display:inline">
                                        @ci.ProductName
                                    </a>
                                </td>
                                <td style="width:25%">$ @ci.UnitPrice</td>
                                <td style="width:25%">
                                    @(Convert.ToInt32(ci.CartItem.Quantity))
                                </td>
                                <td id="subtotal" style="width:25%">$ @(Decimal.Round(ci.UnitPrice * ci.CartItem.Quantity, 2))</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        }
        <div class="text-right">
            <p>Total value before tax: $ @Model.totalBeforeTax</p>
            <p>Shipping before tax: $ @Model.shippingBeforeTax</p>
            <p>Taxes (GST/QST/HST): $ @Model.taxes</p>
            <p>
                Amount to be paid:
                <b>$ @Model.totalWithShippingAndTaxes</b>.
            </p>
        </div>
    </div>
    <div class="col-lg-6  border" style="padding:30px">
        <h3>Confirm shipping information:</h3>
        <hr />

        <form method="post" asp-action="OrderConfirm/@Model" asp-controller="Shopping">
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Name" class="form-control" value="@Context.Session.GetString("Name")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Address" class="form-control" value="@Context.Session.GetString("Address")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="City"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="City" class="form-control" value="@Context.Session.GetString("City")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="Province"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Province" class="form-control" value="@Context.Session.GetString("Province")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="PostalCode"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="PostalCode" class="form-control" value="@Context.Session.GetString("PostalCode")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Email" class="form-control" value="@Context.Session.GetString("Email")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="PhoneNo"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="PhoneNo" class="form-control" value="@Context.Session.GetString("PhoneNo")" />
                </div>
            </div>
            <div class="form-group row mt-3">
                <input type="submit" class="btn btn-success form-control col-4  offset-1" value="Place order" />
                
                <a asp-action="Index" class="btn btn-primary form-control col-4  offset-2">Back to cart</a>
            </div>
        </form>
    </div>

</div>
    