﻿@model EMall.net.Models.MdlBuyerOrder
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}



<div id="reviewPane" class="grayOut-review">
    <div id="msgBox">
        <div id="productInfo" style="width:300px;display: inline-block">

            <h5>
                How do you like this product?
            </h5>


            <div id="productImg" style="text-align:center">

            </div>
            <h5 id="prodId"></h5>
        </div>
        <hr>

        <div id="rating">
            <div align="center" style="color:gray;">
                <label style="font-size:20px;color:black">Select rating:</label>
                <i class="fa fa-star fa-2x" data-index="0"></i>
                <i class="fa fa-star fa-2x" data-index="1"></i>
                <i class="fa fa-star fa-2x" data-index="2"></i>
                <i class="fa fa-star fa-2x" data-index="3"></i>
                <i class="fa fa-star fa-2x" data-index="4"></i>
                <br>
            </div>
        </div>
        <hr>
        <h5>Welcome leaving your review:</h5>
        <div id="review" style="padding:0">
            <textarea name="taReview" style="margin:0;width:80%;height:100px"></textarea>
        </div>
        <hr>
        <button id="btnSubmit" class="btn btn-primary">Submit review</button>
        <button id="btnCancel" class="btn btn-primary">Cancel</button>
    </div>
</div> <!-- end reviewPane -->
<hr />
<div style="margin:20px; border:1px solid lightgray; padding:10px; font-size:13px">
    <p>
        Order number:
        <b> @Model.ID</b>
    </p>
    <p>
        Place date:
        <b> @Model.OrderTime</b>
    </p>
    <p>
        Seller:
        <b> @Model.Seller.FirstName @Model.Seller.LastName</b>
    </p>
    <p>
        Total Amount:
        <b>$ @Model.Total</b>
    </p>
    @{ if (Model.OrderStatus == EMallDataAccess.Models.OrderStatus.Placed)
        {
            <font>Your order hasn't be paid yet:</font>
            <a href="/Shopping/pay/@Model.ID" class="btn btn-success"> Make payment </a><br />
        }
        else
        {
            <p>Order status:<b> @Model.OrderStatus</b></p>
        }
    }
    <hr>

    @{ if (Model.OrderItems.Count() != 0)
        {

            <table class="table-cart table-striped">
                <tr>
                    <th>picture</th>
                    <th>Product name</th>
                    <th>Unit Price</th>
                    <th>quantity</th>
                    <th>Subtotal</th>
                    @{ if (Model.OrderStatus == EMallDataAccess.Models.OrderStatus.Delivered)
                        {
                            <th>Operation</th>
                        }

                    }

                </tr>
                @foreach (var oi in Model.OrderItems)
                {


                    <tr id="itemrow@(oi.ID)">
                        <td>
                            <a href="/product/@oi.ProductID" target="_blank" style="display:inline">
                                <span class="productimg">
                                    <img width="50" height="50" title="@oi.ProductName" alt="@oi.ProductName" src="@Url.Content(@oi.PictureUrl)" style="display: block;">
                                </span>
                            </a>
                        </td>
                        <td>@oi.ProductName</td>
                        <td>@oi.UnitPrice</td>
                        <td>@oi.BuyCount</td>
                        <td>@oi.Subtotal</td>

                        @{ if (oi.Reviewed == 1)
                            {
                                <td>
                                    Review posted
                                </td>
                            }
                            else
                            {
                                if (Model.OrderStatus == EMallDataAccess.Models.OrderStatus.Delivered)
                                {
                                    <td>
                                        <button onclick="showReviewPane(@oi.ProductID, '@Url.Content(@oi.PictureUrl)','@oi.ProductName', @oi.OrderID, @oi.ID)" class="btn-warning" style="font-weight:bold">Write a review</button>
                                    </td>
                                }

                            }
                        }
                    </tr>
                } <!-- end (var oi in Model.OrderItems)-->
            </table><br>
            <div class="text-right">
                <p>Total value before tax: $ @Model.TotalBeforeTax</p>
                <p>Shipping before tax: $ @Model.ShippingBeforeTax</p>
                <p>Taxes (GST/QST/HST): $ @Model.Taxes</p>
                <p>
                    Total Amount:
                    <b>$ @Model.Total</b>
                </p>
            </div>


        } <!--end if orderitems!= null-->
    }
</div>

@section Scripts{
    <script src="~/js/Review.js"></script>
}