﻿@model EMall.net.Models.OrderList
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}

<h3 style="text-align:center">My orders</h3>
<hr>
<div class="text-center">
    <table class="table-cart table-striped text-left" style="font-size:16px; margin:20px auto; width:80%">
        <tr>
            <th>Order#</th>
            <th>Place date</th>
            <th>Total amount</th>
            <th>Status</th>
            <th>Operation</th>
        </tr>
        @foreach (var orderview in Model.OrderListByBuyer)
        {
            <tr id="itemrow@(orderview.Order.ID)">
                <td style="width:20%">@(orderview.Order.ID)</td>
                <td style="width:20%">@orderview.Order.OrderTime</td>
                <td style="width:20%">@orderview.Order.Total</td>
                <td style="width:20%">@orderview.Order.OrderStatus</td>
                @if (orderview.Order.OrderStatus == EMallDataAccess.Models.OrderStatus.Placed)
                {
                    <td style="width:30%; padding:10px">
                        <a href="/Shopping/OrderDetail/@(orderview.Order.ID)" class="btn btn-warning">Detail</a>
                        <a href="/Shopping/pay/@(orderview.Order.ID)" class="btn btn-success">Pay</a>
                    </td>
                }
                else
                {
                    <td style="width:30%; padding:10px">
                        <a href="/Shopping/OrderDetail/@(orderview.Order.ID)" class="btn btn-warning" style="width:110px">View detail</a>
                    </td>
                }

            </tr>
        }

    </table>
</div>

