﻿@model EMall.net.Models.ProductList
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}

<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav">
                <span class="category-header">Categories <i class="fa fa-list"></i></span>
                <ul class="category-list">
                    @*Iterating productcategory ViewModel *@
                    @foreach (var item in Model.AllProductCategories)
                    {
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">@item.Name <i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    @foreach (var sub in item.ChildProductCategories)
                                    {
                                        <div class="col-md-4">
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">@sub.Name</h3>
                                                </li>
                                                @foreach (var subSub in sub.ChildProductCategories)
                                                {
                                                    <li><a href="/Shopping/ProductList/@subSub.ID">@subSub.Name</a></li>
                                                }
                                            </ul>
                                            <hr class="hidden-md hidden-lg">
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                    <!-- end category list for loop -->

                    <li><a href="#">Bags & Shoes</a></li>
                    <li><a href="/Shopping/ProductList">View All</a></li>
                </ul>
            </div>
            <!-- /category nav -->
            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Seller" asp-action="Index">Seller</a></li>
                    <li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">FOOD <i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a>Vegetables</a></li>
                            <li><a>Fruits</a></li>
                            <li><a>Dairy & Eggs</a></li>
                            <li><a>Bread & Bakery products</a></li>
                            <li><a>Meat</a></li>
                            <li><a>Fish & Seafood</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sales</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <div class="row" id="productList" style="padding:20px">
                @foreach (var productview in Model.AllProducts)
                {
                    <!-- Product Single -->
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="product product-single">
                            <div class="product-thumb">
                                
                                <!--button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</!--button>-->
                                <img src="@Url.Content(@productview.Product.PictureUrl)" width="200" height="170" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">$ @productview.Product.UnitPrice</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">@productview.Product.Name</a></h2>
                                <button class="primary-btn add-to-cart" onclick="showAddPanel(@productview.Product.ID, '@Url.Content(@productview.Product.PictureUrl)','@productview.Product.Name', @productview.Product.UnitPrice)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Single -->
                }
            </div>
        </div>
        <div class="text-center">
            <ul class="store-pages">
                <li><span class="text-uppercase">Page:</span></li>
                @for (int i = 1; i <= Model.PageNum; i++)
                {
                    if (Model.CategoryID == null)
                    {
                        <li><button onclick="getProductPagination(0,@i)"  id="pageNo@(i)" class="pageNo" style="background-color:white;color:orange">@i</button></li>
                    }
                    else
                    {
                        <li><button onclick="getProductPagination(@(Model.CategoryID.Value),@i)" id="pageNo@(i)" class="pageNo" style="background-color:white;color:orange">@i</button></li>
                    }

                }

            </ul>
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->

<div id="addPanel" class="grayOut-review">
    <div id="msgBox">
        <div id="productInfo" style="width:300px;display: inline-block">

            <h5>
                Adding to cart...
            </h5>


            <div id="productImg" style="text-align:center">

            </div><br />
            <h5 id="prodId"></h5>
        </div>
        <hr>
        <!--form id="fmAddToCart" action="/Home/AddToCart"> <!--asp-action="AddToCart" asp-controller="Home"-->
        <h5>Quantity:</h5>
        <div id="review" style="padding:0">
            <input class="cartQuantity" type="number" name="quantity" style="width:50px;" value="1" /><!--  asp-for="quantity">-->
        </div>
        <hr>
        <button id="btnSubmit" class="btn btn-primary">Add to cart</button>
        <a id="btnCancel" class="btn btn-primary">Cancel</a>
        <!--/form-->
    </div>
</div> <!-- end addPanel -->

@section Scripts{
    <script src="~/js/AddToCart.js"></script>
}