﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EMallDataAccess.Views.ProductView>
@foreach (var productview in Model)
{
    <!-- Product Single -->
    <div class="col-md-3 col-sm-4 col-xs-4">
        <div class="product product-single">
            <div class="product-thumb">
                
                <!--button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</!--button>-->
                <img src="@Url.Content(@productview.Product.PictureUrl)" width="200" height="170" alt="">
            </div>
            <div class="product-body">
                <h3 class="product-price">$ @productview.Product.UnitPrice</h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name"><a href="#">@productview.Product.Name</a></h2>
                <button class="primary-btn add-to-cart" onclick="showAddPanel(@productview.Product.ID, '@Url.Content(@productview.Product.PictureUrl)','@productview.Product.Name', @productview.Product.UnitPrice)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            </div>
        </div>
    </div>
    <!-- /Product Single -->
}
