﻿
@model EMall.net.Models.Buyer


<h1 class="text-center">Register</h1>

<div class="container row" >
    <div class="col-lg-6 offset-lg-3 border" style="padding:30px">
        <form method="post" asp-action="BuyerRegisterPost">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="Username"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3 col-12">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3 col-12">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3 col-12">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary form-control">
                        Register!
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    Already have an account?<br />
                    <a asp-action="BuyerLogin" class="btn btn-success form-control">Sign in</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}





