﻿@model EMall.net.Models.Buyer
<div class="container row">
    <div class="col-lg-6 offset-lg-3 border" style="padding:30px">
        <form method="post" asp-action="BuyerLoginPost">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row mt-3">
                <div class="col-lg-3 col-12">
                    <label asp-for="Username"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-3 col-12">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-lg-9 col-12">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary form-control">
                        Sign in
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    New to E-Mall?<br />
                    <a asp-action="BuyerRegister" class="btn btn-success form-control">Sign up</a>
                </div>
            </div>
        </form>
    </div>
</div>

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
