﻿@{
    ViewData["Title"] = "Product management - Seller";
}
@model EMall.net.Models.MdlSellerProductAddUpdate
@section Scripts{
    <script>
        $(document).ready(function name() {
            $("#menuProducts").addClass("active");
        });
    </script>

}
@if (Model.Seller != null)
{

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        @if (Model.ID != 0)
        {
            <h3 class="display-4">Edit Products</h3>
        }
        else
        {
            <h3 class="display-4">Add Products</h3>
        }
    </div>
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            Category tree
        </div>
        @if (Model.ID != 0)
        {

<form method="post" enctype="multipart/form-data">


    <div class="form-label-group">
        @Html.LabelFor(m => m.CategoryID)
        @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "ID", "Name", Model.CategoryID), "Please select a category")
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { maxlength = 50, value = Model.Name, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.UnitPrice)
        @Html.TextBoxFor(m => m.UnitPrice, new { value = Model.UnitPrice, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.UnitPrice)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Unit)
        @Html.DropDownListFor(m => m.Unit, new SelectList(Enum.GetValues(typeof(EMallDataAccess.Models.Unit)), Model.Unit), "Please select a unit")
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Inventory)
        @Html.TextBoxFor(m => m.Inventory, new { value = Model.Inventory, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Inventory)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Discount)
        @Html.TextBoxFor(m => m.Discount, new { value = Model.Discount, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Discount)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.PictureUrl)
        <img src="@Url.Content(Model.PictureUrl)" alt="Image" />
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Picture)
        @Html.TextBoxFor(m => m.Picture, new { Type = "File", Class = "form-control" })

    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { maxlength = 4000, value = Model.Description, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-label-group">
        <label>Sales Count:</label>
        <label>@Model.SalesCount</label>
    </div>
    <div class="form-label-group">
        <label>Review Count:</label>
        <label>@Model.ReviewCount</label>
    </div>
    <div class="form-label-group">
        <label>Rating:</label>
        <label>@Model.Rating</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="updateProduct">Update</button>
</form>
        }
        else
        {
<form method="post" enctype="multipart/form-data">
    <div class="form-label-group">
        @Html.LabelFor(m => m.CategoryID)
        @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "ID", "Name",2), "Please select a category")
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { maxlength = 50, value = Model.Name, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.UnitPrice)
        @Html.TextBoxFor(m => m.UnitPrice, new { value = Model.UnitPrice, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.UnitPrice)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Unit)
        @Html.DropDownListFor(m => m.Unit, new SelectList(Enum.GetValues(typeof(EMallDataAccess.Models.Unit)), Model.Unit), "Please select a unit")
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Inventory)
        @Html.TextBoxFor(m => m.Inventory, new { value = Model.Inventory, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Inventory)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Discount)
        @Html.TextBoxFor(m => m.Discount, new { value = Model.Discount, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Discount)
    </div>

    <div class="form-label-group">
        @Html.LabelFor(m => m.Picture)
        @Html.TextBoxFor(m => m.Picture, new { Type = "File", Class = "form-control" })

    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { maxlength = 4000, value = Model.Description, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="addProduct">Add</button>
</form>
         }


 }