﻿@{
    ViewData["Title"] = "Product Delete - Seller";
}
@model EMall.net.Models.MdlSellerProductDelete
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Edit Products</h3>
</div>
@if (Model.Errors.Count == 0)
{


<form method="post">

    <div class="form-label-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { maxlength = 50, value = Model.Name, Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-label-group">
        @Html.LabelFor(m => m.PictureUrl)
        <img src="@Url.Content(Model.PictureUrl)" alt="Image" />
    </div>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="updateProduct">Delete</button>
</form>
}
else
{
    <ul>
        @foreach (var item in Model.Errors)
        {
            <li> item</li>
        }
    </ul>

}
<a href="/seller/Product" class="btn btn-info btn-lg btn-block text-uppercase" role="button">Return</a>