﻿
@{
    ViewData["Title"] = "Index - Seller";
}
@model EMall.net.Models.MdlSellerIndex

@{ if (Model.Seller != null)
    {
        <div class="container-fluid">
            <div class="card-deck mb-3 text-center" id="card-deck">
                @{
                    foreach (var view in Model.StatisticViews)
                    {
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">@view.Title</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">@view.OrderCount<small class="text-muted"> orders</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>@view.ProductCount included</li>
                                    <li>@view.Total dollars</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    } }