﻿
@{
    Layout = null;
}
@model EMall.net.Models.MdlSellerLogin

<!DOCTYPE html>
<html>
<head>
    <!-- Css Styles -->
    <link rel="icon" href="/images/Logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/styles/emall.css">
    <title>Seller login page</title>
    <script>
        $(document).ready(function () {
            $("#Username").val("jerry");
            $("#Password").val("asdf123$%^");
        });
    </script>
</head>
<body>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" method="post">
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.TextBoxFor(m => m.Username, new { maxlength = 50, value = ViewBag.Username, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username)
                        </div>

                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password, new { maxlength = 100, Class = "form-control", Type = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                        <a href="/seller/register" class="btn btn-info btn-lg btn-block text-uppercase" role="button">Register Here</a>


                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
