﻿
@{
    ViewData["Title"] = "Personal Setting - Seller";
}
@model EMall.net.Models.MdlSellerPersonal
@section Scripts{
    <script type="text/javascript">
            $(document).ready(function(){
         $("#menuPersonal").addClass("active");
         $("#changeRegisterInfo").click(function(){
             var firstname=$("#UserBasicInfo_FirstName").val();
             var middlename=$("#UserBasicInfo_MiddleName").val();
             var lastname=$("#UserBasicInfo_LastName").val();
             var phone = $("#UserBasicInfo_PhoneNo").val();
             var formData = new FormData();
             formData.append("item", JSON.stringify({ "ID":@Model.Seller.ID, "FirstName": firstname, "MiddleName": middlename, "LastName": lastname, "PhoneNo": phone, "Username": "", "Email": "" }));

            
            // console.log(JSON.stringify({ "ID":@Model.Seller.ID,"FirstName": firstname, "MiddleName": middlename, "LastName": lastname, "PhoneNo": phone, "Username": "", "Email": "" }));
               $.ajax({
                        url:`/api/rest/changeuserbasicinfo/@Model.Seller.ID`,
                   type: "PUT",
                   contentType: false,
                   processData: false,
                   data: formData,

                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
               }).done(function (result) {
                   result = JSON.parse(result);
                        if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                             alert("Change basic info ok");   
                        }
                     
                       
                    });
         });
         $("#changeAddress").click(function(){
              var address=$("#UserAddressInfo_Address").val();
             var city=$("#UserAddressInfo_City").val();
             var province=$("#UserAddressInfo_Province").val();
             var country=$("#UserAddressInfo_Country").val();
             var postalcode = $("#UserAddressInfo_PostalCode").val();
             var formData = new FormData();
             formData.append("item", JSON.stringify({"ID":@Model.Seller.ID,"Address":address,"City":city,"Province":province,"Country":country,"PostalCode":postalcode}));

               $.ajax({
                            url:`/api/rest/changeuseraddressinfo/@Model.Seller.ID`,
                            type:"PUT",
                            contentType: false,
                            processData: false,
                           data: formData,
                           error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
               }).done(function (result) {
                         result = JSON.parse(result);
                        if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                             alert("Change address info ok");   
                        }
                       
                    });
             
         });
         $("#changeDescription").click(function(){
               var description=$("#UserDescriptionInfo_Description").val();
               var formData = new FormData();
             formData.append("item", JSON.stringify({"ID":@Model.Seller.ID,"Description":description}));

               $.ajax({
                        url:`/api/rest/changeuserdescriptioninfo/@Model.Seller.ID`,
                        type:"PUT",
                       contentType: false,
                            processData: false,
                           data: formData,
                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
               }).done(function (result) {
                        result = JSON.parse(result);
                       if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                             alert("Change description ok");   
                        }
                       
                    });
         });
        $("#changePassword").click(function(){
              var oldpassword=$("#UserChangePasswordInfo_OldPassword").val();
           var newpassword=$("#UserChangePasswordInfo_Password").val();
            var confirm = $("#UserChangePasswordInfo_ConfirmPassword").val();
              var formData = new FormData();
             formData.append("item", JSON.stringify({"ID":@Model.Seller.ID,"OldPassword":oldpassword,"Password":newpassword,"ConfirmPassword":confirm}));
               $.ajax({
                        url:`/api/rest/changeuserpasswordinfo/@Model.Seller.ID`,
                        type:"PUT",
                          contentType: false,
                            processData: false,
                           data: formData,
                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
               }).done(function (result) {
                         result = JSON.parse(result);
                       if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                            $("#OldPassword").val("");
                            $("#Password").val("");
                            $("#ConfirmPassword").val("");
                             alert("Change password ok");   
                        }
                       
                    });
         });
     });
     $(document).ajaxError(function(event,jqxhr,settings,trownError){
            console.log("Ajax error occured on "+settings.url);
            alert("Ajax error occured");
    });
    </script>
}
<div class="error" id="errorMessage">
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#register">Basic info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#address">Address info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#other">Others</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#password">Change Password</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div id="register" class="container tab-pane active">

        <div class="form-label-group">
            <label>User name</label><p><b>@Model.UserBasicInfo.Username</b></p>
        </div>
        <div class="form-label-group">
            <label>Email</label><p><b>@Model.UserBasicInfo.Email</b></p>
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserBasicInfo.FirstName)
            @Html.TextBoxFor(m => m.UserBasicInfo.FirstName, new { maxlength = 50, value = ViewBag.FirstName, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserBasicInfo.FirstName)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserBasicInfo.MiddleName)
            @Html.TextBoxFor(m => m.UserBasicInfo.MiddleName, new { maxlength = 10, value = ViewBag.MiddleName, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserBasicInfo.MiddleName)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserBasicInfo.LastName)
            @Html.TextBoxFor(m => m.UserBasicInfo.LastName, new { maxlength = 50, value = ViewBag.LastName, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserBasicInfo.LastName)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserBasicInfo.PhoneNo)
            @Html.TextBoxFor(m => m.UserBasicInfo.PhoneNo, new { maxlength = 20, value = ViewBag.PhoneNo, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserBasicInfo.PhoneNo)
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changeRegisterInfo">Change Info</button>
    </div>
    <div id="address" class="container tab-pane fade">
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserAddressInfo.Address)
            @Html.TextBoxFor(m => m.UserAddressInfo.Address, new { maxlength = 50, value = ViewBag.Address, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserAddressInfo.Address)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserAddressInfo.City)
            @Html.TextBoxFor(m => m.UserAddressInfo.City, new { maxlength = 50, value = ViewBag.City, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserAddressInfo.City)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserAddressInfo.Province)
            @Html.TextBoxFor(m => m.UserAddressInfo.Province, new { maxlength = 20, value = ViewBag.Province, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserAddressInfo.Province)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserAddressInfo.Country)
            @Html.TextBoxFor(m => m.UserAddressInfo.Country, new { maxlength = 20, value = ViewBag.Country, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserAddressInfo.Country)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserAddressInfo.PostalCode)
            @Html.TextBoxFor(m => m.UserAddressInfo.PostalCode, new { maxlength = 20, value = ViewBag.PostalCode, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserAddressInfo.PostalCode)
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changeAddress">Change Address</button>
    </div>
    <div id="other" class="container tab-pane fade">
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserDescriptionInfo.Description)
            @Html.TextAreaFor(m => m.UserDescriptionInfo.Description, new { maxlength = 200, value = ViewBag.Description, Class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserDescriptionInfo.Description)
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changeDescription">Change Description</button>
    </div>
    <div id="password" class="container tab-pane fade">
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserChangePasswordInfo.OldPassword)
            @Html.TextBoxFor(m => m.UserChangePasswordInfo.OldPassword, new { maxlength = 100, Class = "form-control", Type = "Password" })
            @Html.ValidationMessageFor(m => m.UserChangePasswordInfo.OldPassword)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserChangePasswordInfo.Password)
            @Html.TextBoxFor(m => m.UserChangePasswordInfo.Password, new { maxlength = 100, Class = "form-control", Type = "Password" })
            @Html.ValidationMessageFor(m => m.UserChangePasswordInfo.Password)
        </div>
        <div class="form-label-group">
            @Html.LabelFor(m => m.UserChangePasswordInfo.ConfirmPassword)
            @Html.TextBoxFor(m => m.UserChangePasswordInfo.ConfirmPassword, new { maxlength = 100, Class = "form-control", Type = "Password" })
            @Html.ValidationMessageFor(m => m.UserChangePasswordInfo.ConfirmPassword)
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changePassword">Change Password</button>
    </div>
</div>