﻿
@{
    ViewData["Title"] = "Product management - Seller";
}
@model EMall.net.Models.MdlSellerProducts
@section Scripts{
    <script>
        var currentProductId;
        $(document).ready(function () {
            $("#menuProducts").addClass("active");
            $("#btnAddProduct").click(function () {
                window.location.href = "/Seller/AddProduct?id=0";
            });
            $("#btnEditProduct").click(function () {
                if (currentProductId > 0) {
                    window.location.href = "/Seller/AddProduct?id=" + currentProductId;
                }
            });
            $("#btnDeleteProduct").click(function () {
                if (currentProductId > 0) {
                    window.location.href = "/seller/product/delete/" + currentProductId;
                }
            });

        });
        function selectProduct(id) {
            currentProductId = id;
        }
    </script>
}

    @if (Model.Seller != null)
    {
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="display-4">My Products</h2>
            <div class="card-deck mb-3 text-center" id="card-deck">
               
                    @foreach (var dicProdutsPair in Model.DicProducts)
                    {
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">@dicProdutsPair.Value.CategoryName</h4>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pricing-card-title">@dicProdutsPair.Value.Products.Count<small class="text-muted"> products</small></h4>
                            </div>
                        </div>
                    }
               

            </div>
        </div>

        <div>
            <button class="btn btn-lg btn-primary text-uppercase" type="button" id="btnAddProduct">Add Product</button>
            <button class="btn btn-lg btn-primary text-uppercase" type="button" id="btnEditProduct">Edit Product</button>

        </div>
        <!-- Nav tabs -->

        @if (Model.DicProducts.Count > 0)
        {
                <ul class="nav nav-tabs">
                
                        @{int index = 0;}
                            @foreach (var dicProdutsPair in Model.DicProducts)
                            {
                                <li class="nav-item">
                                    @if (index == 0)
                                    {
                                            <a class="nav-link active" data-toggle="tab" href="#cate_@dicProdutsPair.Key">@dicProdutsPair.Value.CategoryName</a>
                                    }
                                    else
                                    {
                                            <a class="nav-link" data-toggle="tab" href="#cate_@dicProdutsPair.Key">@dicProdutsPair.Value.CategoryName</a>
                                    }
                               
                                </li>
                                index++;
                            }

                </ul>

                <div class="tab-content">
                  
                        @{index = 0;}
                            @foreach (var dicProdutsPair in Model.DicProducts)
                            {
                                string isActive = "";
                                if (index == 0)
                                {
                                    isActive = " active";

                                }
                                index++;

                            <div id="cate_@dicProdutsPair.Key" class="container tab-pane @isActive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Name</th>
                                            <th>Unit Price</th>
                                            <th>Inventory</th>
                                            <th>Discount</th>
                                            <th>Sales Count</th>
                                            <th>Review Count</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in dicProdutsPair.Value.Products)
                                            {
                                                <tr onclick="selectProduct(@product.Product.ID)">
                                                    <td><image src="@Url.Content(@product.Product.PictureUrl)" width=32 height=32></td>
                                                    <td>@product.Product.Name</td>
                                                    <td>@product.Product.UnitPrice</td>
                                                    <td>@product.Product.Inventory</td>
                                                    <td>@product.Product.Discount</td>
                                                    <td>@product.Product.SalesCount</td>
                                                    <td>@product.Product.ReviewCount</td>
                                                    <td>@product.Product.Rating</td>
                                                </tr>
                                            }
                                        

                                    </tbody>
                                </table>
                            </div>



                        }

                   

                </div>
         }
        

    }











