﻿
@{
    Layout = null;
}
@model EMall.net.Models.SellerRegistrationModel

<!DOCTYPE html>

<html>
<head>
    <!-- Css Styles -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seller Register Page</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>

    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/emall.css"/>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('input[name=Username]').on('blur', function () {
                var username = $('input[name=Username]').val();
                if (username != "") {

                    $.ajax({ // FIXME: escape special characters using urlencode
                        url: `/api/rest/checkusername?username=${username}&id=0`,
                        type: "GET",
                        dataType: "json",
                        error: function (jqxhr, status, errorThrown) {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function (hasSame) {
                        if (hasSame) {
                            $('#isUserNameTaken').html("User name has been taken!");
                        }
                        else {
                            $('#isUserNameTaken').html("");
                        }
                    });

                }
            });
            $('input[name=Email]').on('blur', function () {
                var email = $('input[name=Email]').val();
                if (email != "") {

                    $.ajax({ // FIXME: escape special characters using urlencode
                        url: `/api/rest/checkemail?email=${email}&id=0`,
                        type: "GET",
                        dataType: "json",
                        error: function (jqxhr, status, errorThrown) {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function (hasSame) {
                        if (hasSame) {
                            $('#isEmailTaken').html("Email name has been taken!");
                        }
                        else {
                            $('#isEmailTaken').html("");
                        }
                    });
                }

            });
        });
        $(document).ajaxError(function (event, jqxhr, settings, trownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

</head>
<body>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>

                    <form class="form-signin" method="post">
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.TextBoxFor(m => m.Username, new { maxlength = 50, value = ViewBag.Username, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username)
                            <span class="errorMessage" id="isUserNameTaken"></span>
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password, new { maxlength = 100, Class = "form-control", Type = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { maxlength = 100, Class = "form-control", Type = "Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)

                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { maxlength = 100, value = ViewBag.Email, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                            <span class="errorMessage" id="isEmailTaken"></span>
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50, value = ViewBag.FirstName, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.MiddleName)
                            @Html.TextBoxFor(m => m.MiddleName, new { maxlength = 10, value = ViewBag.MiddleName, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MiddleName)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { maxlength = 50, value = ViewBag.LastName, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>


                        <div class="form-label-group">
                            @Html.LabelFor(m => m.PhoneNo)
                            @Html.TextBoxFor(m => m.PhoneNo, new { maxlength = 20, value = ViewBag.PhoneNo, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNo)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Address)
                            @Html.TextBoxFor(m => m.Address, new { maxlength = 50, value = ViewBag.Address, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address)

                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.City)
                            @Html.TextBoxFor(m => m.City, new { maxlength = 50, value = ViewBag.City, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Province)
                            @Html.TextBoxFor(m => m.Province, new { maxlength = 20, value = ViewBag.Province, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Province)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Country)
                            @Html.TextBoxFor(m => m.Country, new { maxlength = 20, value = ViewBag.Country, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Country)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.PostalCode)
                            @Html.TextBoxFor(m => m.PostalCode, new { maxlength = 20, value = ViewBag.PostalCode, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PostalCode)
                        </div>
                        <div class="form-label-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { maxlength = 200, value = ViewBag.Description, Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EMall.net - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

  
</body>
</html>
