﻿@model EMall.net.Models.SellerModelBase
<!DOCTYPE html>
<html>
<head>
    <!-- Css Styles -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMall Sellersd</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/emall.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header class="emall-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <div class="col-8 text-center">
                <a class="emall-header-logo text-dark" href="#">E-Mall Sellers</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                @if (Model.Seller == null)
                {
                    <a class="btn btn-sm btn-outline-secondary" href='/seller/login' target='_self'>Login</a> <a class="btn btn-sm btn-outline-secondary" href='/seller/register' target='_self'>Register</a>
                }
                else
                {
                    <p>Welcome back  <b>@Model.Seller.FullName</b>. <a class="btn btn-sm btn-outline-secondary" href='/seller/logout' target='_self'>Logout</a></p>
                }


            </div>
        </div>

    </header>

    <!--header-->
    @if (Model.Seller != null)
    {
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a id="menuDashboard" class="nav-link" asp-area="" asp-controller="Seller" asp-action="Index">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="menuPersonal" class="nav-link" asp-area="" asp-controller="Seller" asp-action="PersonalSetting">
                                    <span data-feather="users"></span>
                                    Personal Setting
                                </a>
                            </li>

                            <li class="nav-item">
                                <a id="menuProducts" class="nav-link" asp-area="" asp-controller="Seller" asp-action="Product">
                                    <span data-feather="grid"></span>
                                    My Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="menuOrderInprocess" class="nav-link" asp-area="" asp-controller="Seller" asp-action="OrderInProcess">
                                    <span data-feather="file-plus"></span>
                                    Orders Inprocess
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="menuOrderHistory" class="nav-link" asp-area="" asp-controller="Seller" asp-action="OrderHistory">
                                    <span data-feather="file-text"></span>
                                    Orders History
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Sales Performance</span>
                            <a class="d-flex align-items-center text-muted" asp-area="" asp-controller="Seller" asp-action="SalePerformance">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a id="menuPerformanceMonth" class="nav-link" asp-controller="Seller" asp-action="SalePerformance" asp-route-period="month">
                                    <span data-feather="file-text"></span>
                                    Current month
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="menuPerformanceQuarter" class="nav-link" asp-controller="Seller" asp-action="SalePerformance" asp-route-period="quarter">
                                    <span data-feather="file-text"></span>
                                    Current quarter
                                </a>
                            </li>

                            <li class="nav-item">
                                <a id="menuPerformanceYear" class="nav-link" asp-controller="Seller" asp-action="SalePerformance" asp-route-period="year">
                                    <span data-feather="file-text"></span>
                                    This Year
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    @RenderBody()
                </main>
            </div>
        </div>

    }
    else
    {
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <P>
                    Here is an advertisement for sellers.
                    Welcome to E-Mall Sellers, <a class="btn btn-sm btn-outline-secondary" href='/seller/register' target='_self'>Register</a> to begin your business.
                </P>
                @RenderBody()
            </main>
    }

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2020 - EMall.net - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            </environment>
            <environment exclude="Development">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
                </script>
            </environment>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
    </body>

</html>
